body {
  color: black;
  margin: 0px auto 0px auto;
  width: 600px;
  font-family: Calibri, Verdana, Arial, sans-serif;
  font-size: 10.5pt;
  color: #606460;
}

code {
  font-family: Andale Mono, monospace;
}

div.sourceCode {
  background-color: #f6f6f6;
}

div#header {
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  padding: 12px 0px 12px 0px
}

div#logo a {
  color: #C27040;
  float: left;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: none
}

div#header #navigation {
  text-align: right
}

div#header #navigation a {
  color: #C27040;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 12px;
  text-decoration: none;
  text-transform: uppercase
}

div#footer {
  border-top: solid 2px black;
  color: #555;
  font-size: 8pt;
  margin-top: 30px;
  padding: 12px 0px 12px 0px;
  text-align: right
}

h1 {
  font-size: 15pt;
}

h2 {
  font-size: 14pt;
}

div.info {
  color: #555;
  font-size: 10pt;
  font-style: italic
}
